@use '../../../shared/styles/_variables.scss' as *;

.card {
  background: $color-card-bg;
  padding: $spacing-sm;
  border-radius: $radius-sm;
  box-shadow: $shadow-sm;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  cursor: pointer;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: $shadow-md;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-size: 14px;
  word-break: break-word;
}

.delete-card-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: $text-light;
  font-size: 14px;

  &:hover {
    color: $color-danger;
  }
}

.card-badge {
  align-self: flex-end;
  gap:5px;
  font-size: 12px;
  background: $color-border;
  padding: 2px 6px;
  border-radius: 12px;
  cursor: pointer;
  span{
    padding-right: 5px;
  }
}